
/**
 *
 * 音乐搜索器 - CSS 文件
 *
 * @author  MaiCong <i@maicong.me>
 * @link    https://github.com/maicong/music
 * @since   1.5.4
 *
 */

html {
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Microsoft YaHei', 'PingFang SC',
    'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
}
a {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.about {
  background: #fff;
  color: #7f8c8d;
}
.about-color {
  color: #34495e;
}
.about-title {
  font-size: 180%;
  text-align: center;
}
.main {
  margin: 60px 0;
}
.music-tabs > li > a {
  padding: 0.5em 1em;
  cursor: pointer;
}
.music-main {
  display: none;
}
.music-main input {
  text-overflow: ellipsis;
}
.music-main input:focus,
.music-main input:hover {
  background: #eee;
  border-color: #ccc;
  color: #222;
}
.music-type .am-radio-inline,
.music-type label {
  color: #7f8c8d;
}
.music-type .am-icon-unchecked,
.music-type .am-icon-checked {
  color: #0e90d2;
}
.music-tips {
  margin-top: 50px;
}
.music-tips blockquote {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 14px;
  margin-top: 30px;
}
.music-tips p span {
  display: inline-block;
  min-width: 50px;
}
.music-tips p b {
  font-weight: 500;
  color: #c7254e;
}
.music-overflow {
  max-height: 200px;
  overflow: hidden;
}
.music-more {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #666;
  background: #eee;
  cursor: pointer;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;